:root {
  --dark: #151e11;
  /* #7095B2 */
  --active: #0f0;
  --main: #a6ecff;
}

.secTitle {
  color: var(--main) !important;
  position: relative;
  width: max-content;
  margin: auto;
  font-size: 40px;
}

.secTitle::before,
.secTitle::after {
  position: absolute;
  width: max-content;
  top: 50%;
  transform: translateY(-50%);
  color: var(--active);
  font-size: 1.5em;
}

.secTitle::before {
  left: -30px;
  content: "{";
}

.secTitle::after {
  right: -30px;
  content: "}";
}

.bg-dark {
  background-color: var(--dark) !important;
}

::-webkit-scrollbar {
  background-color: var(--dark);
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main);
  border-radius: 50px;
}

/* Start header  */
header {
  opacity: 1;
  color: var(--main) !important;
  height: max-content;
  box-shadow: 0 0px 5px #0f0;
  background-color: var(--dark);
}

svg {
  height: 100%;
  fill: none;
  stroke: var(--active);
  stroke-width: 3;
  /* animation: 1s infinite alternate linear; */
}

.navbar-brand > h2 {
  height: 50px;
}

svg > text {
  stroke-width: 1;
  font-size: 20px;
  stroke: none;
  fill: var(--main);
  text-shadow: 0px 0px 10px var(--active);
}

h2 svg:first-of-type {
  animation-name: moveL;
}

h2 svg:last-of-type {
  animation-name: moveR;
}

h2 svg:nth-of-type(2) {
  animation-name: Hide;
}

@keyframes moveL {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(40px);
  }
}

@keyframes moveR {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-40px);
  }
}

@keyframes Hide {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.navbar ul > li a {
  color: var(--main) !important;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.navbar ul > li a.active {
  background-color: var(--active) !important;
  color: #000 !important;
  border-radius: 10px;
}

.dropdown-header {
  font-size: 20px;
  color: var(--active);
}

.dropdown-menu {
  overflow-y: scroll;
}
.dropdown-menu > div > div:not(:last-of-type) {
  border-right: 5px solid var(--active);
  margin-right: 10px;
  padding-right: 10px;
}
.dropdown-menu > div > div > a:hover {
  /* border-bottom: 1px solid var(--active); */
  background-color: var(--active);
  color: #000 !important;
  border-radius: 10px;
}
/* End header  */

/* Start Modal */

/* End Modal   */

/* Start main  */
main {
  height: calc(100vh - 84px);
  margin: 0;
  padding: 0;
  /* background-color: #0005; */
  position: relative;
}
main .main-title {
  background-color: var(--active);
  height: 100%;
  width: 25%;
  min-width: min-content;
  color: #000;
  border-radius: 0 100vh 100vh 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
}

.main-title button {
  width: max-content !important;
  background-color: var(--active);
  color: #000;
}

.carousel {
  width: 100%;
}

.carousel img {
  width: 100%;
  height: 100%;
}

.carousel-indicators > li {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.carousel-indicators > li.active {
  background-color: var(--active);
}

.carousel-control-prev,
.carousel-control-next {
  background-color: var(--active);
  width: max-content;
  height: max-content;
  border-radius: 50%;
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  margin-right: 10px;
}
.carousel-control-prev {
  left: 25%;
  margin-left: 10px;
  z-index: 2;
}
/* End main  */

/* Start About */
.jumbotron {
  background-color: transparent;
  color: var(--main);
  /* border: 1px solid var(--active); */
  /* height: 100vh; */
}

.jumbotron img {
  position: relative;
  top: -100px;
  display: block;
}
/* End About */

body .img {
  width: 100%;
  height: 65vh;
  background-image: url("../images/mohammad-rahmani-_Fx34KeqIEw-unsplash.jpg");
  background-size: cover;
}

.img-2 {
  background-image: url("../images/jefferson-santos-9SoCnyQmkzI-unsplash.jpg") !important;
}
/*  Start Courses*/
.card {
  background-color: transparent;
  border: 1px solid var(--active);
  color: var(--main);
  position: relative;
}

.card button {
  color: var(--main) !important;
  background-color: var(--dark) !important;
}

.card::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 0%;
  background-color: #0f0;
  color: #000;
  z-index: -1;
  transition: 0.5s;
}
.card:hover::before {
  width: 100%;
  height: 100%;
}

.card:hover {
  color: #000;
}
/*  End Courses*/

.code {
  background-color: #222;
  color: #fff;
}

code {
  color: var(--main);
  font-weight: bold;
}

/* footer */
footer {
  background-color: var(--dark);
  color: var(--main);
  text-align: center;
  border-top: 1px solid var(--active);
}

footer .logo {
  /* transform: scaleX(1.2); */
}

footer ul {
}
